@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <hr/>
    <h2 style="color: lightpink">Hello ladies and gentleman, I'm Quynh Nhu, studying in class 22DTH6! </h2>
    <ul>
        @for (int i = 0; i <= 5; i++)
        {
            <li>Item @i</li>
        }
    </ul>
    <hr />
    @{
        int h = DateTime.Now.Hour;
    }

    @if (h < 12)
    {
        <p>Good morning! (@h)</p>
    }
    else if (h < 17)
    {
        <p>Good afternoon! (@h)</p>
    }
    else
    {
        <p>Good evening! (@h)</p>
    }
</div>
