@{
    ViewData["Title"] = "Home Page";
}

<header>
    <h2>Sky</h2>
</header>

<section>
    <nav>
        <ul>
            <li><a href="~/trang-chu">Bản thân</a></li>
            <li><a href="~/gioi-thieu-nhom">Nhóm</a></li>
        </ul>
    </nav>

    <article>
        <h1>Lê Thị Quỳnh Như</h1>
        <h2>Biệt danh: Arian</h2>
    </article>
</section>

<footer>
    <p>Copyright &copy; Arian - @DateTime.Now.Year</p>
</footer>
